body
{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;

}

header
{

  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  padding-bottom:30px;
  text-align: center;
  text-shadow: 5px 5px 10px black;
  min-height:70px;
  border-bottom:#e8491d 3px solid;



    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

     /* one half of the remaining 30% */
    height: 100px;

}

header a
{
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:16px;
}


/* =========================================================== */

/* Container */
.container
{
  /*float:left;*/
  margin-top:5%;

  width:50%;
  margin-left: 25%;
  margin-right:25%;
  margin-bottom:auto;
  overflow:hidden;
  border:black 2px solid;
  box-shadow: 0 4px 8px 0;
  border-radius: 8px;


}
/* =========================================================== */


/* Main */
.Goals
{
  margin: 5% 5%;
  padding-bottom: 20%;
}


.Goals p{
  line-height: 1.8;
  padding:5%;
  margin:auto;
}
/* =========================================================== */



/* Footer */
footer
{
  margin-top: 10%;
  border-top: 3px #35424a solid;

  width: 100%;
  background-color: #161616;
  color: white;
  text-align: center;

}

footer p{
  margin:auto;
}
/* =========================================================== */
